<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpokSTc0McZuhcE8O960dSWftATCdtwlI</string>
	<key>GCM_SENDER_ID</key>
	<string>393332053422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rels</string>
	<key>PROJECT_ID</key>
	<string>rexvin-leads-syste</string>
	<key>STORAGE_BUCKET</key>
	<string>rexvin-leads-syste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393332053422:ios:f4e06ab06a3ca13ad4643f</string>
	<key>DATABASE_URL</key>
	<string>https://rexvin-leads-syste-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>